@charset "UTF-8";
/* Documentación hazard */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Imágenes responsive */
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*
  cajas - contenedores.
  objetos - columnas.
*/
.caja {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.caja.full {
  max-width: 100%;
}

[class^="base-"],
[class^="movil-"],
[class^="tablet-"],
[class^="web-"],
[class^="hd-"] {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.base-5 {
  width: 5%;
}

.base-10 {
  width: 10%;
}

.base-15 {
  width: 15%;
}

.base-20 {
  width: 20%;
}

.base-25 {
  width: 25%;
}

.base-30 {
  width: 30%;
}

.base-35 {
  width: 35%;
}

.base-40 {
  width: 40%;
}

.base-45 {
  width: 45%;
}

.base-50 {
  width: 50%;
}

.base-55 {
  width: 55%;
}

.base-60 {
  width: 60%;
}

.base-65 {
  width: 65%;
}

.base-70 {
  width: 70%;
}

.base-75 {
  width: 75%;
}

.base-80 {
  width: 80%;
}

.base-85 {
  width: 85%;
}

.base-90 {
  width: 90%;
}

.base-95 {
  width: 95%;
}

.base-100 {
  width: 100%;
}

.base-1-3 {
  width: 33.33333%;
}

.base-2-3 {
  width: 66.66667%;
}

.base-3-3 {
  width: 100%;
}

.base-1-6 {
  width: 16.66667%;
}

.base-2-6 {
  width: 33.33333%;
}

.base-3-6 {
  width: 50%;
}

.base-4-6 {
  width: 66.66667%;
}

.base-5-6 {
  width: 83.33333%;
}

.base-6-6 {
  width: 100%;
}

.base-1-8 {
  width: 12.5%;
}

.base-2-8 {
  width: 25%;
}

.base-3-8 {
  width: 37.5%;
}

.base-4-8 {
  width: 50%;
}

.base-5-8 {
  width: 62.5%;
}

.base-6-8 {
  width: 75%;
}

.base-7-8 {
  width: 87.5%;
}

.base-8-8 {
  width: 100%;
}

@media all and (min-width: 480px) {
  .movil-5 {
    width: 5%;
  }
  .movil-10 {
    width: 10%;
  }
  .movil-15 {
    width: 15%;
  }
  .movil-20 {
    width: 20%;
  }
  .movil-25 {
    width: 25%;
  }
  .movil-30 {
    width: 30%;
  }
  .movil-35 {
    width: 35%;
  }
  .movil-40 {
    width: 40%;
  }
  .movil-45 {
    width: 45%;
  }
  .movil-50 {
    width: 50%;
  }
  .movil-55 {
    width: 55%;
  }
  .movil-60 {
    width: 60%;
  }
  .movil-65 {
    width: 65%;
  }
  .movil-70 {
    width: 70%;
  }
  .movil-75 {
    width: 75%;
  }
  .movil-80 {
    width: 80%;
  }
  .movil-85 {
    width: 85%;
  }
  .movil-90 {
    width: 90%;
  }
  .movil-95 {
    width: 95%;
  }
  .movil-100 {
    width: 100%;
  }
  .movil-1-3 {
    width: 33.33333%;
  }
  .movil-2-3 {
    width: 66.66667%;
  }
  .movil-3-3 {
    width: 100%;
  }
  .movil-1-6 {
    width: 16.66667%;
  }
  .movil-2-6 {
    width: 33.33333%;
  }
  .movil-3-6 {
    width: 50%;
  }
  .movil-4-6 {
    width: 66.66667%;
  }
  .movil-5-6 {
    width: 83.33333%;
  }
  .movil-6-6 {
    width: 100%;
  }
  .movil-1-8 {
    width: 12.5%;
  }
  .movil-2-8 {
    width: 25%;
  }
  .movil-3-8 {
    width: 37.5%;
  }
  .movil-4-8 {
    width: 50%;
  }
  .movil-5-8 {
    width: 62.5%;
  }
  .movil-6-8 {
    width: 75%;
  }
  .movil-7-8 {
    width: 87.5%;
  }
  .movil-8-8 {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .tablet-5 {
    width: 5%;
  }
  .tablet-10 {
    width: 10%;
  }
  .tablet-15 {
    width: 15%;
  }
  .tablet-20 {
    width: 20%;
  }
  .tablet-25 {
    width: 25%;
  }
  .tablet-30 {
    width: 30%;
  }
  .tablet-35 {
    width: 35%;
  }
  .tablet-40 {
    width: 40%;
  }
  .tablet-45 {
    width: 45%;
  }
  .tablet-50 {
    width: 50%;
  }
  .tablet-55 {
    width: 55%;
  }
  .tablet-60 {
    width: 60%;
  }
  .tablet-65 {
    width: 65%;
  }
  .tablet-70 {
    width: 70%;
  }
  .tablet-75 {
    width: 75%;
  }
  .tablet-80 {
    width: 80%;
  }
  .tablet-85 {
    width: 85%;
  }
  .tablet-90 {
    width: 90%;
  }
  .tablet-95 {
    width: 95%;
  }
  .tablet-100 {
    width: 100%;
  }
  .tablet-1-3 {
    width: 33.33333%;
  }
  .tablet-2-3 {
    width: 66.66667%;
  }
  .tablet-3-3 {
    width: 100%;
  }
  .tablet-1-6 {
    width: 16.66667%;
  }
  .tablet-2-6 {
    width: 33.33333%;
  }
  .tablet-3-6 {
    width: 50%;
  }
  .tablet-4-6 {
    width: 66.66667%;
  }
  .tablet-5-6 {
    width: 83.33333%;
  }
  .tablet-6-6 {
    width: 100%;
  }
  .tablet-1-8 {
    width: 12.5%;
  }
  .tablet-2-8 {
    width: 25%;
  }
  .tablet-3-8 {
    width: 37.5%;
  }
  .tablet-4-8 {
    width: 50%;
  }
  .tablet-5-8 {
    width: 62.5%;
  }
  .tablet-6-8 {
    width: 75%;
  }
  .tablet-7-8 {
    width: 87.5%;
  }
  .tablet-8-8 {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .web-5 {
    width: 5%;
  }
  .web-10 {
    width: 10%;
  }
  .web-15 {
    width: 15%;
  }
  .web-20 {
    width: 20%;
  }
  .web-25 {
    width: 25%;
  }
  .web-30 {
    width: 30%;
  }
  .web-35 {
    width: 35%;
  }
  .web-40 {
    width: 40%;
  }
  .web-45 {
    width: 45%;
  }
  .web-50 {
    width: 50%;
  }
  .web-55 {
    width: 55%;
  }
  .web-60 {
    width: 60%;
  }
  .web-65 {
    width: 65%;
  }
  .web-70 {
    width: 70%;
  }
  .web-75 {
    width: 75%;
  }
  .web-80 {
    width: 80%;
  }
  .web-85 {
    width: 85%;
  }
  .web-90 {
    width: 90%;
  }
  .web-95 {
    width: 95%;
  }
  .web-100 {
    width: 100%;
  }
  .web-1-3 {
    width: 33.33333%;
  }
  .web-2-3 {
    width: 66.66667%;
  }
  .web-3-3 {
    width: 100%;
  }
  .web-1-6 {
    width: 16.66667%;
  }
  .web-2-6 {
    width: 33.33333%;
  }
  .web-3-6 {
    width: 50%;
  }
  .web-4-6 {
    width: 66.66667%;
  }
  .web-5-6 {
    width: 83.33333%;
  }
  .web-6-6 {
    width: 100%;
  }
  .web-1-8 {
    width: 12.5%;
  }
  .web-2-8 {
    width: 25%;
  }
  .web-3-8 {
    width: 37.5%;
  }
  .web-4-8 {
    width: 50%;
  }
  .web-5-8 {
    width: 62.5%;
  }
  .web-6-8 {
    width: 75%;
  }
  .web-7-8 {
    width: 87.5%;
  }
  .web-8-8 {
    width: 100%;
  }
}

@media all and (min-width: 1400px) {
  .lg-5 {
    width: 5%;
  }
  .lg-10 {
    width: 10%;
  }
  .lg-15 {
    width: 15%;
  }
  .lg-20 {
    width: 20%;
  }
  .lg-25 {
    width: 25%;
  }
  .lg-30 {
    width: 30%;
  }
  .lg-35 {
    width: 35%;
  }
  .lg-40 {
    width: 40%;
  }
  .lg-45 {
    width: 45%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-55 {
    width: 55%;
  }
  .lg-60 {
    width: 60%;
  }
  .lg-65 {
    width: 65%;
  }
  .lg-70 {
    width: 70%;
  }
  .lg-75 {
    width: 75%;
  }
  .lg-80 {
    width: 80%;
  }
  .lg-85 {
    width: 85%;
  }
  .lg-90 {
    width: 90%;
  }
  .lg-95 {
    width: 95%;
  }
  .lg-100 {
    width: 100%;
  }
  .lg-1-3 {
    width: 33.33333%;
  }
  .lg-2-3 {
    width: 66.66667%;
  }
  .lg-3-3 {
    width: 100%;
  }
  .lg-1-6 {
    width: 16.66667%;
  }
  .lg-2-6 {
    width: 33.33333%;
  }
  .lg-3-6 {
    width: 50%;
  }
  .lg-4-6 {
    width: 66.66667%;
  }
  .lg-5-6 {
    width: 83.33333%;
  }
  .lg-6-6 {
    width: 100%;
  }
  .lg-1-8 {
    width: 12.5%;
  }
  .lg-2-8 {
    width: 25%;
  }
  .lg-3-8 {
    width: 37.5%;
  }
  .lg-4-8 {
    width: 50%;
  }
  .lg-5-8 {
    width: 62.5%;
  }
  .lg-6-8 {
    width: 75%;
  }
  .lg-7-8 {
    width: 87.5%;
  }
  .lg-8-8 {
    width: 100%;
  }
}

body.mostrar .caja {
  outline: 1px solid tomato;
  margin: 1em auto;
}

body.mostrar .caja > [class^="base-"],
body.mostrar .caja > [class^="movil-"],
body.mostrar .caja > [class^="tablet-"],
body.mostrar .caja > [class^="web-"],
body.mostrar .caja > [class^="hd-"] {
  background: gainsboro;
  box-shadow: 0 0 0 1px steelblue;
  padding-top: 1em;
  padding-bottom: 1em;
}

body.mostrar .caja > [class^="base-"] p,
body.mostrar .caja > [class^="movil-"] p,
body.mostrar .caja > [class^="tablet-"] p,
body.mostrar .caja > [class^="web-"] p,
body.mostrar .caja > [class^="hd-"] p {
  margin-bottom: 0;
}

body.mostrar .caja > [class^="base-"]:nth-child(odd),
body.mostrar .caja > [class^="movil-"]:nth-child(odd),
body.mostrar .caja > [class^="tablet-"]:nth-child(odd),
body.mostrar .caja > [class^="web-"]:nth-child(odd),
body.mostrar .caja > [class^="hd-"]:nth-child(odd) {
  background: #eaeaea;
}

@media screen and (max-width: 479px) {
  .desde-movil {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .desde-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .desde-web {
    display: none !important;
  }
}

@media screen and (max-width: 1399px) {
  .desde-lg {
    display: none !important;
  }
}

@media screen and (min-width: 480px) {
  .hasta-movil {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hasta-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hasta-web {
    display: none !important;
  }
}

@media screen and (min-width: 1400px) {
  .hasta-lg {
    display: none !important;
  }
}

.center {
  display: block;
  clear: both;
  margin-right: auto !important;
  margin-left: auto !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full {
  width: 100%;
  clear: both;
}

.center-text,
.text-center {
  text-align: center;
}

.left-text,
.text-left {
  text-align: left;
}

.right-text,
.text-right {
  text-align: right;
}

.circle {
  border-radius: 50%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

/*NO PADDING
===========
class="no-padding" a la caja o el objeto
*/
.no-padding.caja,
[class^="base-"].no-padding,
[class^="movil-"].no-padding,
[class^="tablet-"].no-padding,
[class^="web-"].no-padding,
[class^="hd-"].no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Controlar el padding*/
.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.padding-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-3 {
  padding-left: 45px;
  padding-right: 45px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: relative;
  top: .15em;
  display: inline-block;
}

.espacio:before {
  margin-right: .3em;
}

/*
todo: las clases de alineacion (como justify, top, bottom etc) deben poder
aplicarse a un item unico o a todo_ un container para que se herede en
todos sus items.
*/
@media screen and (min-width: 480px) {
  .movil-order-1 {
    order: 1;
  }
  .movil-order-2 {
    order: 2;
  }
  .movil-order-3 {
    order: 3;
  }
  .movil-order-4 {
    order: 4;
  }
  .movil-order-5 {
    order: 5;
  }
  .movil-order-6 {
    order: 6;
  }
  .movil-order-7 {
    order: 7;
  }
  .movil-order-8 {
    order: 8;
  }
  .movil-order-9 {
    order: 9;
  }
  .movil-order-10 {
    order: 10;
  }
}

@media screen and (min-width: 768px) {
  .tablet-order-1 {
    order: 1;
  }
  .tablet-order-2 {
    order: 2;
  }
  .tablet-order-3 {
    order: 3;
  }
  .tablet-order-4 {
    order: 4;
  }
  .tablet-order-5 {
    order: 5;
  }
  .tablet-order-6 {
    order: 6;
  }
  .tablet-order-7 {
    order: 7;
  }
  .tablet-order-8 {
    order: 8;
  }
  .tablet-order-9 {
    order: 9;
  }
  .tablet-order-10 {
    order: 10;
  }
}

@media screen and (min-width: 1024px) {
  .web-order-1 {
    order: 1;
  }
  .web-order-2 {
    order: 2;
  }
  .web-order-3 {
    order: 3;
  }
  .web-order-4 {
    order: 4;
  }
  .web-order-5 {
    order: 5;
  }
  .web-order-6 {
    order: 6;
  }
  .web-order-7 {
    order: 7;
  }
  .web-order-8 {
    order: 8;
  }
  .web-order-9 {
    order: 9;
  }
  .web-order-10 {
    order: 10;
  }
}

@media screen and (min-width: 1400px) {
  .lg-order-1 {
    order: 1;
  }
  .lg-order-2 {
    order: 2;
  }
  .lg-order-3 {
    order: 3;
  }
  .lg-order-4 {
    order: 4;
  }
  .lg-order-5 {
    order: 5;
  }
  .lg-order-6 {
    order: 6;
  }
  .lg-order-7 {
    order: 7;
  }
  .lg-order-8 {
    order: 8;
  }
  .lg-order-9 {
    order: 9;
  }
  .lg-order-10 {
    order: 10;
  }
}

.justify {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-justify {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-justify {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-justify {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-justify {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
}

.distribute,
.distributed {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-distribute,
  .movil-distributed {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-distribute,
  .tablet-distributed {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-distribute,
  .web-distributed {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-distribute,
  .lg-distributed {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-main-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-main-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-main-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-main-center {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-start {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-main-start {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-main-start {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-main-start {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-main-start {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-end {
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-main-end {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-main-end {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-main-end {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-main-end {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

.cross-start {
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-cross-start {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-cross-start {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-cross-start {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-cross-start {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
}

.cross-center {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-cross-center {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-cross-center {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-cross-center {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-cross-center {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.cross-end {
  align-items: flex-end;
  align-content: flex-end;
}

@media all and (min-width: 480px) {
  .movil-cross-end {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-cross-end {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-cross-end {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-cross-end {
    align-items: flex-end;
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
}

.reverse {
  flex-direction: row-reverse;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-reverse {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

.column {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 480px) {
  .movil-column {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-column {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-column {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-column {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
}

.column-reverse {
  flex-direction: column-reverse;
}

@media all and (min-width: 480px) {
  .movil-column {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 768px) {
  .tablet-column {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1024px) {
  .web-column {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1400px) {
  .lg-column {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.base-left-5 {
  margin-left: 5%;
}

.base-left-10 {
  margin-left: 10%;
}

.base-left-15 {
  margin-left: 15%;
}

.base-left-20 {
  margin-left: 20%;
}

.base-left-25 {
  margin-left: 25%;
}

.base-left-30 {
  margin-left: 30%;
}

.base-left-35 {
  margin-left: 35%;
}

.base-left-40 {
  margin-left: 40%;
}

.base-left-45 {
  margin-left: 45%;
}

.base-left-50 {
  margin-left: 50%;
}

.base-left-55 {
  margin-left: 55%;
}

.base-left-60 {
  margin-left: 60%;
}

.base-left-65 {
  margin-left: 65%;
}

.base-left-70 {
  margin-left: 70%;
}

.base-left-75 {
  margin-left: 75%;
}

.base-left-80 {
  margin-left: 80%;
}

.base-left-85 {
  margin-left: 85%;
}

.base-left-90 {
  margin-left: 90%;
}

.base-left-95 {
  margin-left: 95%;
}

.base-left-100 {
  margin-left: 100%;
}

@media all and (min-width: 480px) {
  .movil-left-0 {
    margin-left: 0%;
  }
  .movil-left-5 {
    margin-left: 5%;
  }
  .movil-left-10 {
    margin-left: 10%;
  }
  .movil-left-15 {
    margin-left: 15%;
  }
  .movil-left-20 {
    margin-left: 20%;
  }
  .movil-left-25 {
    margin-left: 25%;
  }
  .movil-left-30 {
    margin-left: 30%;
  }
  .movil-left-35 {
    margin-left: 35%;
  }
  .movil-left-40 {
    margin-left: 40%;
  }
  .movil-left-45 {
    margin-left: 45%;
  }
  .movil-left-50 {
    margin-left: 50%;
  }
  .movil-left-55 {
    margin-left: 55%;
  }
  .movil-left-60 {
    margin-left: 60%;
  }
  .movil-left-65 {
    margin-left: 65%;
  }
  .movil-left-70 {
    margin-left: 70%;
  }
  .movil-left-75 {
    margin-left: 75%;
  }
  .movil-left-80 {
    margin-left: 80%;
  }
  .movil-left-85 {
    margin-left: 85%;
  }
  .movil-left-90 {
    margin-left: 90%;
  }
  .movil-left-95 {
    margin-left: 95%;
  }
  .movil-left-100 {
    margin-left: 100%;
  }
  .movil-left-1-3 {
    margin-left: 33.33333%;
  }
  .movil-left-2-3 {
    margin-left: 66.66667%;
  }
  .movil-left-3-3 {
    margin-left: 100%;
  }
  .movil-left-1-6 {
    margin-left: 16.66667%;
  }
  .movil-left-2-6 {
    margin-left: 33.33333%;
  }
  .movil-left-3-6 {
    margin-left: 50%;
  }
  .movil-left-1-8 {
    margin-left: 12.5%;
  }
  .movil-left-2-8 {
    margin-left: 25%;
  }
  .movil-left-3-8 {
    margin-left: 37.5%;
  }
}

.base-left-5 {
  margin-left: 5%;
}

.base-left-10 {
  margin-left: 10%;
}

.base-left-15 {
  margin-left: 15%;
}

.base-left-20 {
  margin-left: 20%;
}

.base-left-25 {
  margin-left: 25%;
}

.base-left-30 {
  margin-left: 30%;
}

.base-left-35 {
  margin-left: 35%;
}

.base-left-40 {
  margin-left: 40%;
}

.base-left-45 {
  margin-left: 45%;
}

.base-left-50 {
  margin-left: 50%;
}

.base-left-55 {
  margin-left: 55%;
}

.base-left-60 {
  margin-left: 60%;
}

.base-left-65 {
  margin-left: 65%;
}

.base-left-70 {
  margin-left: 70%;
}

.base-left-75 {
  margin-left: 75%;
}

.base-left-80 {
  margin-left: 80%;
}

.base-left-85 {
  margin-left: 85%;
}

.base-left-90 {
  margin-left: 90%;
}

.base-left-95 {
  margin-left: 95%;
}

.base-left-100 {
  margin-left: 100%;
}

@media all and (min-width: 768px) {
  .tablet-left-0 {
    margin-left: 0%;
  }
  .tablet-left-5 {
    margin-left: 5%;
  }
  .tablet-left-10 {
    margin-left: 10%;
  }
  .tablet-left-15 {
    margin-left: 15%;
  }
  .tablet-left-20 {
    margin-left: 20%;
  }
  .tablet-left-25 {
    margin-left: 25%;
  }
  .tablet-left-30 {
    margin-left: 30%;
  }
  .tablet-left-35 {
    margin-left: 35%;
  }
  .tablet-left-40 {
    margin-left: 40%;
  }
  .tablet-left-45 {
    margin-left: 45%;
  }
  .tablet-left-50 {
    margin-left: 50%;
  }
  .tablet-left-55 {
    margin-left: 55%;
  }
  .tablet-left-60 {
    margin-left: 60%;
  }
  .tablet-left-65 {
    margin-left: 65%;
  }
  .tablet-left-70 {
    margin-left: 70%;
  }
  .tablet-left-75 {
    margin-left: 75%;
  }
  .tablet-left-80 {
    margin-left: 80%;
  }
  .tablet-left-85 {
    margin-left: 85%;
  }
  .tablet-left-90 {
    margin-left: 90%;
  }
  .tablet-left-95 {
    margin-left: 95%;
  }
  .tablet-left-100 {
    margin-left: 100%;
  }
  .tablet-left-1-3 {
    margin-left: 33.33333%;
  }
  .tablet-left-2-3 {
    margin-left: 66.66667%;
  }
  .tablet-left-3-3 {
    margin-left: 100%;
  }
  .tablet-left-1-6 {
    margin-left: 16.66667%;
  }
  .tablet-left-2-6 {
    margin-left: 33.33333%;
  }
  .tablet-left-3-6 {
    margin-left: 50%;
  }
  .tablet-left-1-8 {
    margin-left: 12.5%;
  }
  .tablet-left-2-8 {
    margin-left: 25%;
  }
  .tablet-left-3-8 {
    margin-left: 37.5%;
  }
}

.base-left-5 {
  margin-left: 5%;
}

.base-left-10 {
  margin-left: 10%;
}

.base-left-15 {
  margin-left: 15%;
}

.base-left-20 {
  margin-left: 20%;
}

.base-left-25 {
  margin-left: 25%;
}

.base-left-30 {
  margin-left: 30%;
}

.base-left-35 {
  margin-left: 35%;
}

.base-left-40 {
  margin-left: 40%;
}

.base-left-45 {
  margin-left: 45%;
}

.base-left-50 {
  margin-left: 50%;
}

.base-left-55 {
  margin-left: 55%;
}

.base-left-60 {
  margin-left: 60%;
}

.base-left-65 {
  margin-left: 65%;
}

.base-left-70 {
  margin-left: 70%;
}

.base-left-75 {
  margin-left: 75%;
}

.base-left-80 {
  margin-left: 80%;
}

.base-left-85 {
  margin-left: 85%;
}

.base-left-90 {
  margin-left: 90%;
}

.base-left-95 {
  margin-left: 95%;
}

.base-left-100 {
  margin-left: 100%;
}

@media all and (min-width: 1024px) {
  .web-left-0 {
    margin-left: 0%;
  }
  .web-left-5 {
    margin-left: 5%;
  }
  .web-left-10 {
    margin-left: 10%;
  }
  .web-left-15 {
    margin-left: 15%;
  }
  .web-left-20 {
    margin-left: 20%;
  }
  .web-left-25 {
    margin-left: 25%;
  }
  .web-left-30 {
    margin-left: 30%;
  }
  .web-left-35 {
    margin-left: 35%;
  }
  .web-left-40 {
    margin-left: 40%;
  }
  .web-left-45 {
    margin-left: 45%;
  }
  .web-left-50 {
    margin-left: 50%;
  }
  .web-left-55 {
    margin-left: 55%;
  }
  .web-left-60 {
    margin-left: 60%;
  }
  .web-left-65 {
    margin-left: 65%;
  }
  .web-left-70 {
    margin-left: 70%;
  }
  .web-left-75 {
    margin-left: 75%;
  }
  .web-left-80 {
    margin-left: 80%;
  }
  .web-left-85 {
    margin-left: 85%;
  }
  .web-left-90 {
    margin-left: 90%;
  }
  .web-left-95 {
    margin-left: 95%;
  }
  .web-left-100 {
    margin-left: 100%;
  }
  .web-left-1-3 {
    margin-left: 33.33333%;
  }
  .web-left-2-3 {
    margin-left: 66.66667%;
  }
  .web-left-3-3 {
    margin-left: 100%;
  }
  .web-left-1-6 {
    margin-left: 16.66667%;
  }
  .web-left-2-6 {
    margin-left: 33.33333%;
  }
  .web-left-3-6 {
    margin-left: 50%;
  }
  .web-left-1-8 {
    margin-left: 12.5%;
  }
  .web-left-2-8 {
    margin-left: 25%;
  }
  .web-left-3-8 {
    margin-left: 37.5%;
  }
}

.base-left-5 {
  margin-left: 5%;
}

.base-left-10 {
  margin-left: 10%;
}

.base-left-15 {
  margin-left: 15%;
}

.base-left-20 {
  margin-left: 20%;
}

.base-left-25 {
  margin-left: 25%;
}

.base-left-30 {
  margin-left: 30%;
}

.base-left-35 {
  margin-left: 35%;
}

.base-left-40 {
  margin-left: 40%;
}

.base-left-45 {
  margin-left: 45%;
}

.base-left-50 {
  margin-left: 50%;
}

.base-left-55 {
  margin-left: 55%;
}

.base-left-60 {
  margin-left: 60%;
}

.base-left-65 {
  margin-left: 65%;
}

.base-left-70 {
  margin-left: 70%;
}

.base-left-75 {
  margin-left: 75%;
}

.base-left-80 {
  margin-left: 80%;
}

.base-left-85 {
  margin-left: 85%;
}

.base-left-90 {
  margin-left: 90%;
}

.base-left-95 {
  margin-left: 95%;
}

.base-left-100 {
  margin-left: 100%;
}

@media all and (min-width: 1400px) {
  .lg-left-0 {
    margin-left: 0%;
  }
  .lg-left-5 {
    margin-left: 5%;
  }
  .lg-left-10 {
    margin-left: 10%;
  }
  .lg-left-15 {
    margin-left: 15%;
  }
  .lg-left-20 {
    margin-left: 20%;
  }
  .lg-left-25 {
    margin-left: 25%;
  }
  .lg-left-30 {
    margin-left: 30%;
  }
  .lg-left-35 {
    margin-left: 35%;
  }
  .lg-left-40 {
    margin-left: 40%;
  }
  .lg-left-45 {
    margin-left: 45%;
  }
  .lg-left-50 {
    margin-left: 50%;
  }
  .lg-left-55 {
    margin-left: 55%;
  }
  .lg-left-60 {
    margin-left: 60%;
  }
  .lg-left-65 {
    margin-left: 65%;
  }
  .lg-left-70 {
    margin-left: 70%;
  }
  .lg-left-75 {
    margin-left: 75%;
  }
  .lg-left-80 {
    margin-left: 80%;
  }
  .lg-left-85 {
    margin-left: 85%;
  }
  .lg-left-90 {
    margin-left: 90%;
  }
  .lg-left-95 {
    margin-left: 95%;
  }
  .lg-left-100 {
    margin-left: 100%;
  }
  .lg-left-1-3 {
    margin-left: 33.33333%;
  }
  .lg-left-2-3 {
    margin-left: 66.66667%;
  }
  .lg-left-3-3 {
    margin-left: 100%;
  }
  .lg-left-1-6 {
    margin-left: 16.66667%;
  }
  .lg-left-2-6 {
    margin-left: 33.33333%;
  }
  .lg-left-3-6 {
    margin-left: 50%;
  }
  .lg-left-1-8 {
    margin-left: 12.5%;
  }
  .lg-left-2-8 {
    margin-left: 25%;
  }
  .lg-left-3-8 {
    margin-left: 37.5%;
  }
}
